includes:
	- app/vendor/szepeviktor/phpstan-wordpress/extension.neon
	- phpstan-baseline.neon

parameters:
	bootstrapFiles:
		- %rootDir%/../../../../bootstrap-phpstan.php

	excludePaths:
		- %rootDir%/../../../../app/vendor/*

	ignoreErrors:
		- '#Function icl_get_languages not found.#'

	level: 8

	paths:
		- ./app/
