parameters:
	bootstrap: %rootDir%/../../../bootstrap-phpstan.php
	excludes_analyse:
		- %rootDir%/../../../app/vendor/*
	autoload_directories:
		- %rootDir%/../../../app/
	ignoreErrors:
		- '#Call to static method get_base_url\(\) on an unknown class WPSEO_Sitemaps_Router.#'
		- '#Constant DOING_AUTOSAVE not found.#'
		- '#Function __ not found.#'
		- '#Function _e not found.#'
		- '#Function esc_html__ not found.#'
		- '#Function esc_html not found.#'
		- '#Function esc_attr not found.#'
		- '#Function esc_attr__ not found.#'
		- '#Function add_settings_field not found.#'
		- '#Function add_settings_section not found.#'
		- '#Function add_submenu_page not found.#'
		- '#Function admin_url not found.#'
		- '#Function check_admin_referer not found.#'
		- '#Function current_user_can not found.#'
		- '#Function deactivate_plugins not found.#'
		- '#Function delete_option not found.#'
		- '#Function do_action not found.#'
		- '#Function get_admin_url not found.#'
		- '#Function get_option not found.#'
		- '#Function get_permalink not found.#'
		- '#Function get_post not found.#'
		- '#Function get_post_type_object not found.#'
		- '#Function get_rest_url not found.#'
		- '#Function get_site_url not found.#'
		- '#Function is_page not found.#'
		- '#Function is_single not found.#'
		- '#Function is_wp_error not found.#'
		- '#Function icl_get_languages not found.#'
		- '#Function plugin_basename not found.#'
		- '#Function plugins_url not found.#'
		- '#Function register_rest_route not found.#'
		- '#Function register_setting not found.#'
		- '#Function sanitize_text_field not found.#'
		- '#Function settings_fields not found.#'
		- '#Function update_option not found.#'
		- '#Function wp_.* not found.#'
		- '#Undefined variable: \$menu#'
		- '#Undefined variable: \$post#'
		- '#Undefined variable: \$sitepress#'
		- '#Undefined variable: \$submenu#'
		- '#Undefined variable: \$wp_version#'
